*~$
.init.el.swp
.mc-lists.el
.recentf
.smex-items
auto-save-list
backups
cider-history
ido.last
init.el.save
network-security.data
places
projectile-bookmarks.eld
projectile.cache
tramp

elpa/*
cider-0.16.0/*
straight/*
var/*